/* variables color */
:root {
	/* main color */
	--main-color: #c39f76;
	--text-main: #1f3331;
	--heading-color: #1f3331;
	/*body style*/
	--body-font_family: "Lato", sans-serif;
	--body-font_size: 16px;
	/*main style h1*/
	--heading_1-font_family: 'Poppins', serif;
	--heading_1-font_size: 41px;
	--heading_1-font_style: normal;
	--heading_1-font_weight: 600;
	--heading_1-line_height: 1.16666667;
	--heading_1-text_transform: uppercase;
	/*main style h2*/
	--heading_2-font_family: 'Poppins', serif;
	--heading_2-font_size: 34px;
	--heading_2-font_style: normal;
	--heading_2-font_weight: 600;
	--heading_2-line_height: 1.16666667;
	--heading_2-text_transform: uppercase;
	/*main style h3*/
	--heading_3-font_family: 'Poppins', serif;
	--heading_3-font_size: 28px;
	--heading_3-font_style: normal;
	--heading_3-font_weight: 600;
	--heading_3-line_height: 1.16666667;
	--heading_3-text_transform: uppercase;
	/*main style h4*/
	--heading_4-font_family: 'Poppins', serif;
	--heading_4-font_size: 20;
	--heading_4-font_style: normal;
	--heading_4-font_weight: 600;
	--heading_4-line_height: 1.16666667;
	--heading_4-text_transform: uppercase;
	/*main style h5*/
	--heading_5-font_family: 'Poppins', serif;
	--heading_5-font_size: 16px;
	--heading_5-font_style: normal;
	--heading_5-font_weight: 600;
	--heading_5-line_height: 1.16666667;
	--heading_5-text_transform: uppercase;
	/*main style h6*/
	--heading_6-font_family: 'Poppins', serif;
	--heading_6-font_size: 14px;
	--heading_6-font_style: normal;
	--heading_6-font_weight: 600;
	--heading_6-line_height: 1.16666667;

}
.editor-block-list__layout {
	color: var(--text-main);
	font-family: var(--body-font_family);
	font-size: var(--body-font_size);
	font-style: var(--body-font_style);
	font-weight: var(--body-font_weight);
	line-height: var(--body-line_height);
}
.editor-block-list__layout h1 {
	/*font-size: 36px;*/
	font-family: var(--heading_1-font_family);
	font-size: var(--heading_1-font_size);
	font-style: var(--heading_1-font_style);
	font-weight: var(--heading_1-font_weight);
	line-height: var(--heading_1-line_height);
	color: var(--heading-color);
}
.editor-block-list__layout h2 {
	font-family: var(--heading_2-font_family);
	font-size: var(--heading_2-font_size);
	font-style: var(--heading_2-font_style);
	font-weight: var(--heading_2-font_weight);
	line-height: var(--heading_2-line_height);
	color: var(--heading-color);
}
.editor-block-list__layout h3 {
	font-family: var(--heading_3-font_family);
	font-size: var(--heading_3-font_size);
	font-style: var(--heading_3-font_style);
	font-weight: var(--heading_3-font_weight);
	line-height: var(--heading_3-line_height);
	color: var(--heading-color);
}
.editor-block-list__layout h4 {
	font-family: var(--heading_4-font_family);
	font-size: var(--heading_4-font_size);
	font-style: var(--heading_4-font_style);
	font-weight: var(--heading_4-font_weight);
	line-height: var(--heading_4-line_height);
	color: var(--heading-color);
}
.editor-block-list__layout h5 {
	font-family: var(--heading_5-font_family);
	font-size: var(--heading_5-font_size);
	font-style: var(--heading_5-font_style);
	font-weight: var(--heading_5-font_weight);
	line-height: var(--heading_5-line_height);
	color: var(--heading-color);
}
.editor-block-list__layout h6 {
	font-family: var(--heading_6-font_family);
	font-size: var(--heading_6-font_size);
	font-style: var(--heading_6-font_style);
	font-weight: var(--heading_6-font_weight);
	line-height: var(--heading_6-line_height);
	color: var(--heading-color);
}
.editor-block-list__layout p {
	font-size: var(--body-font_size);
	font-family: var(--body-font_family);
}
pre.block-editor-rich-text__editable.editor-rich-text__editable {
	padding: 12.5px;
	margin: 0 0 13px;
	font-size: 15px;
	line-height: 1.8;
	color: #333333;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 4px;
	overflow: auto;
	white-space: nowrap!important;
}
.wp-block-separator {
	border-bottom: 1px solid #9a9a9a;
	clear: both;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100%;
}
.wp-block-table td, .wp-block-table th {
	padding: 3px 8px;
	border: 1px solid #e1e1e1;
}
.block-editor-rich-text__editable.editor-rich-text__editable.wp-block-table__cell-content {
	padding: 0px;
	line-height: 1.8;
	font-size: 16px;
}
.wp-block-table {
	width: auto; 
}
.editor-block-list__block-edit.block-editor-block-list__block-edit a{
	text-decoration: none;
	color: var(--text-main);
	transition: all 0.3s;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 1px;
}
.editor-block-list__block-edit.block-editor-block-list__block-edit a:hover{
	opacity: 0.9;
	color: #818181;
}
.wp-block-categories {
	text-align: left;
}
blockquote {
	margin: 0px;
}
blockquote p,
blockquote.wp-block-quote.is-large p {
	margin-bottom: 13px;
	color: #939393;
}
blockquote.wp-block-quote,
blockquote.wp-block-quote.is-large,
.wp-block-pullquote blockquote{
	font-style: italic;
	text-align: left;
	border: 0;
	padding: 13px 26px;
	font-size: 20px;
}
blockquote.wp-block-quote:before, 
blockquote.wp-block-quote.is-large:before,
.wp-block-pullquote blockquote:before,
blockquote.wp-block-quote:after,
blockquote.wp-block-quote.is-large:after,
.wp-block-pullquote blockquote:after {
	display: block;
	content: '';
	width: 30px;
	border-top: 2px solid #818181;
	margin: 15px auto;
}
.wp-block-pullquote {
	border: none;
	padding: 0px;
	text-align: left;
}
.wp-block-pullquote p{
	text-align: left;
}
.wp-block-quote__citation,
.block-editor-rich-text__editable.editor-rich-text__editable.wp-block-pullquote__citation {
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 30px;
	text-align: left;
	letter-spacing: 1px;
	color: #939393;

}
.wp-block-quote.is-large p,
.wp-block-pullquote blockquote>.block-editor-rich-text p,
.block-editor-block-list__block[data-type="core/pullquote"][data-align=left] .block-editor-rich-text p,
.block-editor-block-list__block[data-type="core/pullquote"][data-align=right] .block-editor-rich-text p{
	font-size: 20px;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit,
.block-editor-block-list__layout .block-editor-block-list__block[data-align=right]>.block-editor-block-list__block-edit {
	width: 305px;
}
.wp-block-categories {
	text-align: left;
}
.block-editor-rich-text__editable.editor-rich-text__editable.wp-block-button__link {
	display: inline-block;
	padding: 0 25px;
	line-height: 40px;
	position: relative;
	font-size: .87054932rem;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	background: #212121;
	border: 0;
	border-radius: 1px;
}
.block-editor-rich-text__editable.editor-rich-text__editable.wp-block-button__link:hover {
	background: #444;
}
.wp-block-button.is-style-outline .block-editor-rich-text__editable.editor-rich-text__editable.wp-block-button__link {
	border: 1px solid var(--main-color);
	background: transparent;
	color: var(--main-color);
	border-radius: 100px;
	transition: all 0.3s;
}
.wp-block-button.is-style-outline .block-editor-rich-text__editable.editor-rich-text__editable.wp-block-button__link:hover {
	border: 1px solid var(--heading-color);
	color: var(--heading-color);
}
.wp-block.editor-post-title__block textarea{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	font-family: var(--heading_1-font_family);
}
